{
    "openapi": "3.0.1",
    "info": {
        "title": "api",
        "description": "",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://apim-contoso.azure-api.net/api/v1"
        }
    ],
    "paths": {
        "/generate": {
            "post": {
                "summary": "generate",
                "operationId": "generate",
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        },
        "/rerank": {
            "post": {
                "summary": "rerank",
                "operationId": "rerank",
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        },
        "/embed": {
            "post": {
                "summary": "embed",
                "operationId": "embed",
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}